{% extends 'base.html' %}
{% block content %}
<div class="site__body">
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--xl">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">
                    <div class="account-nav flex-grow-1">
                        <h4 class="account-nav__title">Navigation</h4>
                        <ul class="account-nav__list">
                            <li class="account-nav__item  account-nav__item--active ">
                                <a href="/user/dashboard">Dashboard</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="/user/profile-edit">Edit Profile</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="/user/change-password">Password</a>
                            </li>
                            <li class="account-nav__divider" role="presentation"></li>
                            <li class="account-nav__item ">
                                <a href="/user/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Change Password</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body card-body--padding--2">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-7 col-xl-6">
                                <form method="post">
                                    {%csrf_token%}
                                    <div class="form-group">
                                        <label for="password-current">Current Password</label>
                                        {{form.old_password}}
                                    </div>
                                    <div class="form-group">
                                        <label for="password-new">New Password</label>
                                        {{form.new_password1}}
                                    </div>
                                    <div class="form-group">
                                        <label for="password-confirm">Reenter New Password</label>
                                        {{form.new_password2}}
                                    </div>
                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary mt-3" type="submit" >Change</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
{%endblock%}