{% extends 'base.html' %}
{% block content %}
<div class="site__body">
    <div class="block post-view">
        <div class="post-view__header post-header post-header--has-image">
            <div class="post-header__image" style="background-image: url('images/posts/post-1-1903x500.jpg');"></div>
            <div class="post-header__body">
                <div class="post-header__categories">
                    <ul class="post-header__categories-list">
                        <li class="post-header__categories-item">
                            <a href="" class="post-header__categories-link">Latest News</a>
                        </li>
                    </ul>
                </div>
                <h1 class="post-header__title">{{post.title}}</h1>
                <div class="post-header__meta">
                    <ul class="post-header__meta-list">
                        <li class="post-header__meta-item">By <a href="" class="post-header__meta-link">{{post.author}}</a></li>
                        <li class="post-header__meta-item">{{post.created_at}}</li>
                        <li class="post-header__meta-item"><a href="" class="post-header__meta-link">4 Comments</a></li>
                    </ul>
                </div>
            </div>
            <div class="decor post-header__decor decor--type--bottom">
                <div class="decor__body">
                    <div class="decor__start"></div>
                    <div class="decor__end"></div>
                    <div class="decor__center"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="post-view__body">
                <div class="post-view__item post-view__item-post">
                    <div class="post-view__card post">
                        <div class="post__body typography">
                           {{post.content}}
                        </div>
                        <div class="post__footer">
                            <div class="post__tags tags tags--sm">
                                <div class="tags__list">
                                    <a href="">Promotion</a>
                                    <a href="">Power Tool</a>
                                    <a href="">Wrench</a>
                                    <a href="">Electrodes</a>
                                </div>
                            </div>
                            <div class="post__share-links share-links">
                                <ul class="share-links__list">
                                    <li class="share-links__item share-links__item--type--like"><a href="">Like</a></li>
                                    <li class="share-links__item share-links__item--type--tweet"><a href="">Tweet</a></li>
                                    <li class="share-links__item share-links__item--type--pin"><a href="">Pin It</a></li>
                                    <li class="share-links__item share-links__item--type--counter"><a href="">4K</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post__author">
                            <div class="post__author-avatar">
                                <img src="images/avatars/avatar-4-70x70.jpg" alt="">
                            </div>
                            <div class="post__author-info">
                                <div class="post__author-name">
                                    Author : {{post.author}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-view__card">
                        <h2 class="post-view__card-title">Comments (4)</h2>
                        <div class="post-view__card-body comments-view">
                            <ol class="comments-list comments-list--level--0 comments-view__list">
                                {% for item in items %}
                                <li class="comments-list__item">
                                    <div class="comment">
                                        <div class="comment__body">
                                            <div class="comment__avatar">
                                                <img src="images/avatars/avatar-1-38x38.jpg" alt="">
                                            </div>
                                            <div class="comment__meta">
                                                <div class="comment__author">
                                                {{item.comment.name}}
                                                </div>
                                                <div class="comment__date">
                                                {{item.comment.created_at}}
                                                </div>
                                            </div>
                                            <div class="comment__reply">
                                                <button type="button" class="btn btn-xs btn-light">Reply</button>
                                            </div>
                                            <div class="comment__content typography">
                                                {{item.comment.content}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {%endfor%}
                            </ol>
                        </div>
                    </div>
                    <div class="post-view__card">
                        <h2 class="post-view__card-title">Write A Comment</h2>
                        <form class="post-view__card-body" method ="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="comment-first-name">First Name</label>
                                    {{form.name}}
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="comment-email">Email Address</label>
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment-content">Comment</label>
                                {{form.content}}
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-primary mt-md-4 mt-2">Post Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
{%endblock%}